/*
 * GLOBAL
 */

html, body
{
	height: 100%;
	font-family: 'Raleway', sans-serif;
	background: #202020;
	color: #00FF76;
	text-align: center;
	line-height: 1.5em;
}

blockquote
{
	font-family: 'Berkshire Swash', cursive;
	line-height: 1.7em;
}

.blockquote_author
{
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Berkshire Swash', cursive;
}

h1
{
	font-size: 3em;
	margin-bottom: 1em;
}

h2
{
	font-size: 2em;
	margin-bottom: 0.8em;
}

h3
{
	font-size: 1.8em;
	margin-bottom: 0.6em;
}

h4
{
	font-size: 1.6em;
	margin-bottom: 0.4em;
}

h5
{
	font-size: 1.4em;
	margin-bottom: 0.2em;
}

h6
{
	font-size: 1.2em;
	margin-bottom: 0.1em;
}

a
{
	color: #00FF76;
}

a:hover
{
	color: #00CF46;
}

/*
 * HEADER
 */

nav
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #00FF76;
	z-index: 2;
	text-align: left;
}

nav ul
{
	height: 100%;
	display: flex;
	align-items: stretch;
}

nav li
{
	display: flex;
	background: none;
	transition: .2s ease;
}

nav a
{
	align-self: center;
	padding-left: 0.35em;
	padding-right: 0.35em;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	display: inline-block;
	text-decoration: none;
	color: rgba(0, 0, 0, .5);
	font-size: 1.1em;
}

nav li:nth-child(1) a
{
	padding-left: 0.7em;
}

nav li:hover
{
	background: rgba(0, 0, 0, .2);
}

nav li:hover a
{
	color: rgba(0, 0, 0, .5);
}

nav img
{
	height: 3em;
	border-radius: 100%;
	margin-right: 10px;
}

header
{
	min-height: 100vh;
	position: relative;
	background: url('/assets/img/background.jpg');
	background-size: cover;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 1px 1px 0 rgba(75,75,75,0.6) , -1px -1px 1px rgba(255,255,255,0.47);
}

header blockquote
{
	font-size: 1.8em;
}

header .blockquote_author
{
	font-size: 0.6em;
}

header h1
{
	color: #141414;
}

#header_content
{
	max-width: 30%;
}

/*
 * SECTION
 */

section
{
	min-height: 100vh;
	width: 100%;
	padding-top: 6.3em;
}

section p
{
	margin: auto;
	margin-bottom: 0.7em;
	text-align: left;
	width: 33.333%;
}

section .figure
{
	width: 33.333%;
	margin: auto;
}

/*
 * FIGURE
 */

.figure
{
	text-align: center;
	margin-bottom: 0.7em !important;
	line-height: 1.1em !important;
}

.figure img
{
	display: block;
	margin: auto;
	background: #F0F0F0;
}

.figure span
{
	font-style: italic;
	font-size: 0.9em;
}

/*
 * GRID
 */

.grid
{
	list-style-type: none;
	width: 80%;
	margin: auto;
	white-space: normal;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.grid li
{
	width: 33.333%;
	position: relative;
}

.grid img
{
	width: 100%;
	/*
	width: 95%;
	margin: auto;
	//*/
	display: block;
}

.grid_overlay
{
	text-align: left;
	position: absolute;
	background: rgba(0,255,118,0.62);
	bottom: 0;
	left: 100%;
	right: 0;
	width: 0;
	height: 100%;
	overflow: hidden;
	transition: .5s ease;
}

.grid li:hover .grid_overlay
{
	width: 100%;
	left: 0;
}

.grid_overlay_content
{
	padding: 15px;
	color: white;
	/*
	white-space: nowrap;
	//*/
	position: absolute;
	overflow: hidden;
	bottom: 0;
}

.grid_overlay_content h4
{
	font-family: 'Raleway', sans-serif;
	font-size: 1.4em;
}

.grid_disclaimer
{
	font-style: italic;
	font-size: 0.8em;
}

/*
 * FOOTER
 */

footer
{
	background: #404040;
	padding-top: 2em;
	padding-bottom: 2em;
}

/*
 * FONTS
 */

/* latin-ext */
@font-face
{
	font-family: 'Berkshire Swash';
	font-style: normal;
	font-weight: 400;
	src: local('Berkshire Swash'), local('BerkshireSwash-Regular'), url('/assets/fonts/BerkshireSwash/latin-ext.woff2') format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face
{
	font-family: 'Berkshire Swash';
	font-style: normal;
	font-weight: 400;
	src: local('Berkshire Swash'), local('BerkshireSwash-Regular'), url('/assets/fonts/BerkshireSwash/latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face
{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url('/assets/fonts/Raleway/latin-ext.woff2') format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face
{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url('/assets/fonts/Raleway/latin.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
